/* Global Variable */
:root {
    --main-color: #ff5c5c;
    --main-color-hover: #f83232;
    --dark-color: #3c4542;
    --container-width: 1100px;
}

* {
    box-sizing: border-box;
}

html, body {
    padding: 0;
    margin: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
}

h1{
    padding: 0;
    margin: 0;
    font-size: 2rem;
    text-shadow: 2px 2px 3px silver;
}

.button {
    text-decoration: none;
    display: inline-block;
    margin-top: 1.3rem;
    padding: 0.7rem 1.2em;
    background-color: var(--main-color);
    color: white;
    box-shadow: 5px 5px black;
    font-size: 1.1em;
}

.button:hover{
    background-color: var(--main-color-hover);
}

/* Logo and Navbar */

.nav-container {
    background-color: var(--dark-color);
    position: sticky;
    top: 0px;
    z-index: 100;
}

.nav-container header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80vw;
    height: 60px;
    margin: 0 auto;
}

.nav-container .logo img {
    width: 120px;
    padding-top: 10px;
}

.nav-container ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-container li a {
    display: block;
    color: white;
    padding: 0 1.1em;
    text-decoration: none;
    text-transform: uppercase;
    height: 60px;
    line-height: 60px;
}

.nav-container li a:hover{
    color: var(--main-color);
    transition: all 0.3s;
    border-bottom: 5px solid var(--main-color);
}

/* untuk menyembunyikan humberger item */

.nav-container header label,
#hamburger {
    display: none;
}

/* Hero Image */
.hero-container {
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3)), 
    url('/img/hero.jpg');
    height: 70vh;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-text {
    text-align: center;
    color: white;
}

.hero-text h1 {
    font-size: 2em;
    margin: 0;
    text-shadow: 4px 4px black;
}

.hero-text p {
    font-size: 2em;
    margin: 0;
    text-shadow: 2px 2px black;
}

/* showcase */ 

.showcase-container:nth-child(even) {
    background-color: #f0f0f0;
}

.showcase {
    display: flex;
    justify-content: space-between;
    max-width: 1100px;
    margin: 0 auto;
    padding: 2em;
}

.showcase-image, .showcase-text {
    width: 50%;
    margin: 1em;
}

.showcase-image img {
    width: 100%;
    border: 1px solid silver;
    padding: 0.3rem;
    box-shadow: 2px 2px 5px black;
}
.showcase-container:nth-child(even) .circles-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.showcase-container:nth-child(even) .circles-container .circle {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #ccc;
    margin-bottom: 3em;
}

.showcase-container:nth-child(even) .circles-container .circle img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* About Us */
.product-container {
    max-width: 800px; 
    margin: 3rem auto;
    text-align: center;
    padding: 0 10px;
}

.product-container header hr {
    width: 25%;
    border: 0;
    border-top: 1px solid #ddd;
    margin: 20px auto; 
}

.product-container section {
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Center align items */
}

.product-container section div {
    flex: 1;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    text-align: center;
}

.product-container section div i {
    font-size: 4em;
    margin-bottom: 10px;
}

.product-container section div h4 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.product-container section div p {
    font-size: 1.1em;
    color: #666;
    line-height: 1.6;
}


.product-container section div {
    width: 25%;
    padding: 1em 2em;
}

/* Explore */

.explore-container {
    padding: 0 2em;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6)),
    url('/img/hero.jpg');
    text-align: center;
    color: white;
}

.explore-text {
    max-width: var(--container-width);
    margin: 0 auto;
    padding: 3rem 0;
}

.explore-text p{
    font-size: 1.3rem;
    text-shadow: 1px 1px 2px black;
}

.explore-text h1 {
    text-shadow: 1px 1px 2px black;
}

/* Blog */

.blog-container {
    max-width: var(--container-width);
    margin: 3rem auto;
}

.blog-container header {
    padding: 0 2em;
    text-align: center;
}

.blog-container header hr {
    width: 25%;
    border: 0;
    border-top: 1px solid #ddd;
}

.blog-index {
    margin-top: 1rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 0 2%;
}

.blog-index .snippet {
    width: 32%;
    margin-top: 1rem;
    border: 1px solid #ddd;
    border-radius: 0.25rem;
} 

.blog-index .snippet-img {
    width: 100%;
    max-width: 100%;
    height: 200px; /* Set a fixed height */
}

.blog-index .snippet-txt {
    padding: 0 1em;
}

.blog-index .snippet-txt small {
    color: #999;
}

/* efek untuk hover gambar */

.snippet figure {
    padding: 0;
    margin: 0;
    width: 100%;
    overflow: hidden;
}

.snippet-img {
    transform: rotate(10deg) scale(1.4);
    transition: .3s ease-in-out;
}

.snippet figure:hover img {
    transform: rotate(0) scale(1.1);
}
/* contact */
.contact-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    background: #f9f9f9;
}

.contact-form, .contact-output {
    flex: 1;
    min-width: 300px;
    margin: 10px;
    padding: 20px;
    border: 1px solid #ddd;
    background: #fff;
}

.contact-form h2, .contact-output h2 {
    margin-bottom: 20px;
}

.contact-form label {
    display: block;
    margin-bottom: 5px;
}

.contact-form input, .contact-form select, .contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.contact-form button {
    padding: 10px 20px;
    background: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.contact-form button:hover {
    background: #555;
}

.contact-output #output {
    border: 1px solid #ddd;
    padding: 10px;
    background: #fff;
}


/* footer */

.footer-container {
    margin-top: 3rem;
    color: white;
    background-color: #3c4542;
    padding: 2rem 1rem;
}

.footer-container a{
    text-decoration: none;
    color: white;
}

.footer-container a:hover {
    text-decoration: underline;
}

.footer-menu{
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.footer-menu section{
    width: 23%;
    text-align: center;
}

.footer-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.footer-menu h3 {
    margin-top: 0;
}

.logo-container img {
    width: 65px;
}

.footer-copyright {
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 0.5rem;
}

.footer-copyright a {
    margin-left: 0.5rem;
}

.footer-copyright a:hover{
    text-decoration: none;
}

/* Responsive Styles */
@media (max-width: 768px) {
    nav ul li{
        display: none;
    }
    
    #hamburger:checked + nav ul {
        display: flex;
    }

    .showcase {
        flex-direction: column;
    }

    .showcase-image img, .snippet img {
        width: 100%;
        height: auto;
    }
    .showcase-image, .showcase-text {
        width: 100%;
        margin: 0.5em 0;
    }
    .blog-index .snippet {
        width: calc(50% - 20px);
    }
    .product-container {
        padding: 0 10px;
    }

    .product-container header hr {
        width: 50%;
    }

    .product-container section div {
        flex: 100%;
    }
}

@media (max-width: 480px) {
    .blog-index .snippet {
        width: calc(100% - 20px);
    }

    .product-container section {
        flex-direction: column;
    }
}